.kotak-1{
    height: 200px;
    width: 96%;
    background-color: rgb(255, 109, 64);
    border: solid;
}

.cont2{
    display: flex;
}

.kotak-2{
    height: 200px;
    width: 200px;
    background-color: orange;
    border: solid;
    margin-top: 15px;
}

.kotak-3{
    height: 200px;
    width: 1050px;
    border: solid;
    background-color: rgb(251, 255, 0);
    margin-left: 20px;
    margin-top: 15px;
}

.cont3{
    display: flex;
}

.kotak-4{
    height: 200px;
    width: 200px;
    background-color: orange;
    border: solid;
    margin: auto;
}

.kotak-5{
    height: 200px;
    width: 1050px;
    border: solid;
    background-color: rgb(238, 255, 0);
    margin-top: 20px;
}